@model KrontecDemo.Models.Customer

<h1>Delete Customer</h1>

<h4>Are you sure you want to delete this customer?</h4>
<div>
    <h5>@Model.FirstName @Model.LastName</h5>
    <p>Email: @Model.Email</p>
    <p>Phone: @Model.PhoneNumber</p>
    <p>Address: @Model.Address</p>
</div>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="CustomerId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a href="/Customer" class="btn btn-secondary">Cancel</a>
</form>

